 
  * {
    margin: 0;
    padding: 0;
     }
     
    
                  
.container {
    height: 900;
    width: 1440;

    margin: auto;
          display: inline-block;
       min-width: 476px;

    }
    
 .header{
            height: 350px;
            width: 1440px;
            background: url('/assets/header3.jpg') no-repeat;
            text-align: center;
            align-items: center;
            justify-content: center;
            
            position: relative; 

            
                 
    } 
    .menu{
      width: 300px;
      
      margin-top: 10px;
      margin-left: 10px;
      background: none;
      float: left;
      color: white;
      font-size: 40px;
      font-family: Arial;
      
      
    }

    .paligo{
      float: left;
    }
 .menu-imag{
      width: 25px;
      height: 25px;
      float: left;
    }
    

    .text-header{
            color: rgb(255, 255, 255);
            font-size: 35px;
            font-family: Arial;
            font-weight: 550;

            padding-top: 10%;
            font-family: Arial;
            font-weight: bold;
    }

   
    .search {
      width: 100%;
      position: relative;
      display: flex;
         }
    

    .searchTerm {
      width: 100%;
      padding: 14px;
      height: auto;
      color: white;
      background-color: rgba(206, 203, 203,0.3);
      font-size: 15px;
      border-radius: 5px 0px 0px 5px;

      font-family: Arial;
            font-weight: bold;
      
      border: none;
      outline: none;
      box-shadow: none;
    
    }

    .searchTerm::placeholder {
      color:rgb(255, 255, 255);
           }

    .searchTerm:focus{
      color: rgb(255, 255, 255);
  
    }
    

    .button-search{
      width: 17px;
      height: 20px;
      padding-bottom: 4px;
      align-items: center;
      
          }
    
    .searchButton {
      width: 50px;
      height: auto;
      background: rgb(255, 136, 0);
      text-align: center;

      border-radius: 0px 5px 5px 0px;
            
      font-size: 20px;

      border: none;
      outline: none;
      box-shadow: none;
    }
    .wrap{
      width: 40%;
      position: relative;
      margin-top: 30px;
      left: 50%;
      transform: translate(-50%, -50%);

     
      
    
    }

       
    .box {
      width: 100%;
      margin-top: 50px;
      margin-left: 145px;
      display: inline-block;
      font-family: Arial;
            font-weight: bold;
       }

    .box1, .box2, .box3, .box4 {
      width: 265px;
      height: 265px;
      margin-left: 25px;

      font-weight: bold;
      
      align-items: center;
      text-align: center;
      justify-content: center;

      box-shadow: 0px 5px 35px -14px rgba(140,137,140,0.60);
     
      display: inline-block;
      vertical-align: top;
 
    }
    .mat-card-header{
      padding: 12px;
    }

    .box1{
     margin-left: auto;
    }

   .icons {
      width: 90px;
      height: 90px;
      align-items: center;
     margin-top: 50px;
        }

   .icons1{
     border: none;
      outline: none;
      box-shadow: none;
      background-color: rgb(255, 255, 255);
   }     

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
        box-shadow: 0px 5px 35px -14px rgba(140,137,140,1.50);
        transform: scale(1.05); 
        color: rgb(14, 14, 185);
      }



.valor{
  border-radius: 50%;
  /*border-radius: 200px 200px 200px 200px;*/
  border: 20px solid rgb(242, 129, 1); 
 border-width: 10px;
 color: rgb(255, 255, 255);
 background-color: rgb(255, 136, 0);
 float: left;
 margin-left: 5px;
 width: 40px;
 text-align: center;
 height: 40px;
display: flex;
justify-content: center;
align-items: center;
  }

  .valores{
    width: 265px;
    height: 50px;

    
   
  }
  .title{
  margin-left: 50px;
    padding-top: 10px;

  }  


  .featured-content{
    
      width: 100%;
      margin-top: 45px;
      margin-left: 145px;
      display: inline-block;
      font-family: Arial;
      font-weight: bolder;
     
   }
   .title-content{
    font-family: Arial;
      font-weight: 500;
  }


   .content1, .content2, .content3, .content4 {
    width: 265px;
    height: 265px;
    margin-left: 25px;
   
    font-family: Arial;
    font-weight: bold;
    
    align-items: initial;
    text-align: left;
    justify-content: left;

    display: inline-block;
    vertical-align: top;

  }

  .content1{
    margin-left: auto;
  }


.file-ico{
  height: 20px;
  width: 20px;
  opacity: .3;
}



      @media screen and (max-width: 1180px){
       
          .content1{
            margin-left: 25px;
          } 
          .box1{
            margin-left: 25px;
           }
           .text-header{
             float: left;
           }

     } 
     @media screen and (max-width: 600px){
       
      .featured-content{
        margin-left: 15px;
      } 
      .box{
        margin-left: 15px;
       }
       .text-header{
         float: left;
       }

 } 