<!-- <ed-poligo></ed-poligo> -->

<div class="container"> 
  <div class="header"> 
    
    <div class="menu">
    <span class="paligo">paligo</span>
    <img  class="menu-imag" src="./assets/menu-circ.png" alt="">
  </div>
 
        <p class="text-header"> How can we help you today?</p>
        
        <div class="wrap">
          <div class="search">
             <input type="text" class="searchTerm" placeholder="Search">
             <button type="submit" class="searchButton">
              <!-- <i class="fa fa-search"></i> -->
           
           <img class="button-search" src="./assets/search.png" alt="" >
            </button>
          </div>
        </div>   
        
       
        <!--
        <div class="header-search">
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input class="hed" matInput placeholder="Search">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
-->

        </div>  

       <div class="box">
        <mat-card class="box1">
          <mat-card-header>
            <div mat-card-avatar ></div>
          </mat-card-header>
          <a href="">
          <img mat-card-image class="icons" src="./assets/ico11.png" alt="">
        </a>
          <mat-card-content>
            <h5>
              About Spaceflight
            </h5>
          </mat-card-content>
              </mat-card>
      
              <mat-card class="box2">
                <mat-card-header class="mat-card-header">
                  <div mat-card-avatar ></div>
                </mat-card-header>
                <a href="">
                <img mat-card-image class="icons" src="./assets/ico2.png" alt="">
              </a>
                <mat-card-content>
                  <h5>
                   Space Safety
                  </h5>
                </mat-card-content>
                    </mat-card>   
                    
                    <mat-card class="box3">
                      <mat-card-header>
                        <div mat-card-avatar ></div>
                      </mat-card-header>
                      <a href="">
                      <img mat-card-image class="icons" src="./assets/ico3.png" alt="">
                    </a>
                      <mat-card-content>
                        <h5>
                         The Mision Control Center
                        </h5>
                      </mat-card-content>
                          </mat-card>   

                          <mat-card class="box4">
                            <mat-card-header>
                              <div mat-card-avatar ></div>
                            </mat-card-header>
                          <a href="">
                            <img mat-card-image class="icons" src="./assets/ico4.png" alt="">
                          </a>
                            <mat-card-content>
                              <h5>
                               Travelling to Mars 
                              </h5>
                            </mat-card-content>
                                </mat-card> 


</div>


<div class="featured-content">
  
  <h6 class="title-content">Featured content</h6>


   <mat-list class="content1">
    <div class="valores">  
      <span class="valor" >{{grupo1.length}}</span> 
      <h5 class="title">About Spaceflight</h5>
    </div> 
 
    <mat-list-item *ngFor="let element of grupo1">
      <!-- <mat-icon mat-list-icon>description</mat-icon>-->
      <img class="file-ico"  src="./assets/expediente.png" alt="">
      <h2 mat-subheader>{{element.text}}</h2>
          </mat-list-item>
  </mat-list>



  <mat-list class="content2">
    <div class="valores">  
      <span class="valor" >{{grupo2.length}}</span> 
      <h5 class="title">Space Safety</h5>
    </div> 
   
    <mat-list-item *ngFor="let element of grupo2">
     <!-- <mat-icon mat-list-icon>description</mat-icon>-->
     <img class="file-ico"  src="./assets/expediente.png" alt=""> 
      <h2 mat-subheader>{{element.text}}</h2>
          </mat-list-item>
  </mat-list>
  

  <mat-list class="content3">
    <div class="valores">  
      <span class="valor" >{{grupo3.length}}</span> 
      <h5 class="title">The Mission Control Center</h5>
    </div> 
 
   <mat-list-item *ngFor="let element of grupo3">
    <!-- <mat-icon mat-list-icon>description</mat-icon>-->
    <img class="file-ico" src="./assets/expediente.png" alt="">
     <span mat-subheader>{{element.text}}</span>
         </mat-list-item>
 </mat-list>




 <mat-list class="content4">
  <div class="valores">  
  <span class="valor" >{{grupo4.length}}</span> 
  <h5 class="title">Travelling to Mars</h5>
</div> 
   <mat-list-item *ngFor="let element of grupo4">
    <!-- <mat-icon mat-list-icon>description</mat-icon>-->
    <img class="file-ico" src="./assets/expediente.png" alt="">
     <span mat-subheader>{{element.text}}</span>
         </mat-list-item>
 </mat-list>


</div>



</div>

<router-outlet></router-outlet>